/* ----------------------------------------------------------------
  ヘッダーのレイアウト
---------------------------------------------------------------- */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(255,255,255,.9);
  z-index: 9999;

  // ロゴ
  .header__logo {
    width: 40px;
    height: 40px;
    background-color: #fff;
    position: absolute;
    left: 10px;
    top: 10px;
    opacity: 1;
    @include transition();
  }

  // ナビ（開閉アイテム）
  .header__navi {
    padding: 60px 0 100px;
    width: 100%;
    text-align: center;

    // close状態
    opacity: 0;
    pointer-events: none;
    @include transition();

    .header__menu__logo {
      margin: 0 auto;
      width: 40px;
    }
    .header__menu__org-name {
      margin-top: 20px;
      p {
        text-align: center;
        color: #aaa;
        letter-spacing: .05em;
      }
    }
  }
}
@include res_min( $break ){
  .header {
    padding: 0 30px;
    height: 80px;
    @include flex(nowrap, space-between, center);

    // ロゴ
    .header__logo {
      background-color: #fff;
      position: relative;
      left: 0;
      top: 0;
    }

    // ナビ（開閉アイテム）
    .header__navi {
      padding: 0;
      width: auto;
      text-align: left;
      opacity: 1;
      pointer-events: visible;

      .header__menu__logo {
        display: none;
      }
      .header__menu__org-name {
        margin-top: 140px;
        transform: rotate(90deg);
        transform-origin: right top;
        position: fixed;
        left: 100px;
        top: 80px;
        p {
          height: 100px;
          white-space: nowrap;
          transform: rotate(180deg);
          position: absolute;
          left: 0;
          top: 0;
          @include flex(nowrap, flex-start, center);
        }
      }
    }

    .menu-button {
      display: none;
    }
  }
}

/* ----------------------------------------------------------------
  メニューのスタイル
---------------------------------------------------------------- */
.global-menu {
  .menu {
    margin-top: 60px;
    // li
    .menu__item {
      margin-top: 40px;
      line-height: 1;
      a {
        font-size: 2.4rem;
        font-weight: bold;
        letter-spacing: .05em;
        &:link, &:visited {
          color: #777;
        }
        &:hover, &:active {
          color: #E7340C;
        }
      }
    }
  }
}
@include res_min( $break ){
  .global-menu {
    .menu {
      margin-top: 0;
      @include flex(nowrap, flex-end, stretch);

      // li
      .menu__item {
        margin-top: 0;
        margin-left: 50px;
        a {
          font-size: 1.4rem;
        }
      }
    }
  }
}

.sub-menu {
  .menu {
    margin-top: 120px;
    @include flex(nowrap, center, center);
    // li
    .menu__item {
      line-height: 1;
      a {
        margin: 0 20px;

      }
      i {
        margin: 0;
        img {
          width: 40px;
        }
      }
      span {
        display: none;
      }
    }
  }
}
@include res_min( $break ){
  .sub-menu {
    transform: rotate(90deg);
    transform-origin: left top;
    position: fixed;
    right: 0;
    top: 80px;

    .menu {
      margin-top: 0;
      height: 100px;
      justify-content: flex-start;
      position: absolute;
      left: 0;
      top: 0;
      // li
      .menu__item {
        margin-left: 40px;
        a {
          margin: 0;
          letter-spacing: .05em;
          &:link, &:visited {
            color: #AAA;
          }
          &:hover, &:active {
            color: $baseColor;
          }
        }
        i {
          margin: 0;
          img {
            display: none;
          }
        }
        span {
          display: block;
        }
      }
    }
  }
}

/* ----------------------------------------------------------------
  開閉トグルボタン
---------------------------------------------------------------- */
.menu-button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: #fff;
  position: absolute;
  right: 10px;
  top: 10px;
  .menu-button__line {
    width: 20px;
    height: 1px;
    background-color: #999;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    &::before,
    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: #999;
      position: absolute;
      left: 0;
      @include transition();
    }
    &::before {
      top: -8px;
    }
    &::after {
      top: 8px;
    }
  }
}

/* ----------------------------------------------------------------
  開閉時の挙動　まとめて
---------------------------------------------------------------- */
// body is__open
body.is__open {
  overflow: hidden;
}

// header is__open
.header.is__open {
  // header
  background-color: #fff;
  padding: 0 20px;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  // ロゴ
  .header__logo {
    opacity: 0;
  }

  // ナビ（開閉アイテム）
  .header__navi {
    opacity: 1;
    pointer-events: visible;
  }

  // 開閉トグルのデザイン
  .menu-button {
    position: absolute;
    right: 20px;
    top: 20px;
    .menu-button__line {
      width: 40px;
      background-color: transparent;
      &::before,
      &::after {
        top: 0;
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}